html, body {
    height: 100%; 
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: rgba(0, 0, 0, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
    font-size: 32px;
}

.slider-main-wrapper {
    padding: 2.5vmin;
    background-color: black;
    margin: 0 auto;
    /* margin-top: 10vmin; */
    margin-top: calc((100vh - 90vmin) / 2);
    display: grid;
    width: 80vmin;
    grid-template-columns: 56vmin 19vmin;
    grid-template-rows: 75vmin 1fr;
    row-gap: 3vmin;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 20px;
}

.slider-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.slider-pic {
    border-radius: 20px;
}

input {
    display: none;
}

.controls {
    display: flex;
    /* gap: 1vmin; */
    justify-content: right;
    align-items: center;
}

label {
    width: 4vmin;
    height: 4vmin;
    /* background-color: aqua; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

label > div {
    width: 2vmin;
    height: 2vmin;
    background-color: rgb(255, 210, 10);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s linear;
}

label > div > div {
    width: 1.6vmin;
    height: 1.6vmin;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    transition: 0.2s linear;
}


.pic-1 {
    background: url('./assets/slide-1.jpg') no-repeat center;
}

.pic-2 {
    background: url('./assets/slide-2.jpg') no-repeat center;
}

.pic-3 {
    background: url('./assets/slide-3.jpg') no-repeat center;
}

.pic-4 {
    background: url('./assets/slide-4.jpg') no-repeat center;
}

.slider-wrapper > div {
    background-size: cover;
    height: auto;
    transition: 0.2s linear;
}

.slider-wrapper {
    display: flex;
}

.slider-text-wrapper {
    display: flex;
    align-items: center;
}

.slider-text-wrapper > div {
    transition: 0.2s linear;
    flex-basis: 0;
    width: 0;
    overflow: hidden;
    /* max-height: 3vmin; */
    opacity: 0;
    white-space: nowrap;
}

.slider-text {
    color: white;
    /* line-height: 2; */
    font-size: 2.5vmin;
}


/* CHOOSE BULLETS*/

#bullet1:checked ~ .slider-text-wrapper > .text-1 {
    flex-grow: 1;
    flex-basis: 100%;
    opacity: 1;
}

#bullet2:checked ~ .slider-text-wrapper > .text-2 {
    flex-grow: 1;
    flex-basis: 100%;
    opacity: 1;
}

#bullet3:checked ~ .slider-text-wrapper > .text-3 {
    flex-grow: 1;
    flex-basis: 100%;
    opacity: 1;
}

#bullet4:checked ~ .slider-text-wrapper > .text-4 {
    flex-grow: 1;
    flex-basis: 100%;
    opacity: 1;
}

#bullet1:checked ~ .slider-wrapper > .pic-1 {
    flex-grow: 1;
}

#bullet2:checked ~ .slider-wrapper > .pic-2 {
    flex-grow: 1;
}

#bullet3:checked ~ .slider-wrapper > .pic-3 {
    flex-grow: 1;
}

#bullet4:checked ~ .slider-wrapper > .pic-4 {
    flex-grow: 1;
}

#bullet1:checked ~ .controls > label:nth-child(1) > div > div {
    background-color: rgb(255, 210, 10);
}

#bullet2:checked ~ .controls > label:nth-child(2) > div > div {
    background-color: rgb(255, 210, 10);
}

#bullet3:checked ~ .controls > label:nth-child(3) > div > div {
    background-color: rgb(255, 210, 10);
}

#bullet4:checked ~ .controls > label:nth-child(4) > div > div {
    background-color: rgb(255, 210, 10);
}

/* INTERACTIVE */

label:hover {
    cursor: pointer;
}

label:hover .check-wrap {
    background-color: white;
}

.label1:active .label1-check-wrap {
    background-color: yellowgreen;
}

.label2:active .label2-check-wrap {
    background-color: yellowgreen;
}

.label3:active .label3-check-wrap {
    background-color: yellowgreen;
}

.label4:active .label4-check-wrap {
    background-color: yellowgreen;
}

@media screen and (max-width: 768px) {
    .slider-main-wrapper {
        margin-top: calc((100vh - 90vmin) / 2);
        width: 80vmin;
        grid-template-columns: 75vmin;
        grid-template-rows: 75vmin 1fr 1fr;
    }

    .slider-wrapper {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .controls {
        justify-content: center;
        order: 2;
    }

    .slider-text-wrapper {
        order: 3;
    }
}